.KeyData {
    width: 258px;
    background-color: #fbfbfb;
    display: flex;
    gap: 24px;
    padding: 32px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
}
.KeyData .logo {
    width: 60px;
}
.KeyData .title {
    margin-top: 5px;
    font-size: 14px;
    color: #74798C;
}
.KeyData .value {
    font-size: 20px;
}
.KeyData .valueTitle{
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding-top: 5px;
}
